@import 'src/styles/theme';

.intro {
    height: 98.5%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-content-intro;
    text-align: center;

    h1 {
        font-weight: 300;
        font-size: 32px;
        color: $intro-title-color;
        margin-top: 40px;
    }

    p {
        color: $intro-text-color;
        margin-top: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 0 40px;
    }
}

.intro-filler {
    height: 1.5%;
    width: 100%;
    background-color: #f0f2f5;
    border-bottom: $border-intro-filler;
}