$skleton-animation: skeleton-image-loading 1s linear infinite alternate;

@keyframes skeleton-image-loading {
    0%{
        background-color: hsl(200, 20%, 70%);
    }

    100%{
        background-color: hsl(200, 20%, 95%);
    }
}