$large-desktop-display: 1441px;
$flex-proportion-large: 1301px;
$flex-proportion-small: 900px;

$navbar-icons-spacing: 720px;

$message-width-large-adjust: 1300px;
$message-width-mid-adjust: 1024px;
$message-width-small-adjust: 900px;

$message-box-padding-adjust: 968px;