$bg-deep-layer: #dfdfdd;
$bg-stripe: #00a884;

$bg-header: #f0f2f5;
$bg-header-icon-click: rgba(11,20,26,0.1);
$bg-sidebar: #fff;
$sidebar-input-color: #3b4a54;
$search-container-bottom-color: #e9edef;
$filter-icon-color: #8696a0;
$search-icon-color: #54656f;
$arrow-search-icon-color: #00a884;

$scroll-track: #eae6df;
$scroll-thumb: #bdbcb7;