@import 'src/styles/breakpoints';

.app-window{
    position: relative;
    background-color: #f7f8fa;
    z-index: 2;
    height: 100%;
    width: 100%;
    min-width: 748px;
    box-shadow: 0 6px 18px rgba(11,20,26,.05);
    display: flex;

    @media (min-width: $large-desktop-display) {
        height: calc(100% - 38px);
        width: calc(100% - 38px);
        max-width: 1600px;
        top: 19px;
        margin: auto;
    }
}