@import 'src/styles/breakpoints';
@import 'src/styles/theme';

.sidebar {
    background-color: $bg-sidebar;
    flex: 1 1 30%;
    max-width: 30%;
    min-width: 30%;
    overflow: hidden;
    position: relative;

    @media (max-width: $flex-proportion-large) {
        flex: 1 1 40%;
        max-width: 40%;
        min-width: 40%;
    }

    @media (max-width: $flex-proportion-small) {
        flex: 1 1 45%;
        max-width: 45%;
        min-width: 45%;
    }
}