@import 'src/styles/theme';
@import 'src/styles/animations';

.newchat {
    position: absolute;
    background-color: $bg-newchat;
    height: 100%;
    width: 0%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
    overflow: hidden;

    header {
        height: 108px;
        background-color: $bg-newchat-header;
        padding: 0 23px;
        display: flex;
        align-items: flex-end;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;

        .content {
            height: 59px;
            display: flex;
            align-items: center;

            .arrowback {
                &-container {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .arrowback-button {
                        fill: $newchat-header-content-color;
                        cursor: pointer;
                    }
                }
            }

            .title {
                &-container {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding-left: 29px;

                    .title {
                        font-size: 19px;
                        font-weight: 500;
                        color: $newchat-header-content-color;
                        margin-bottom: 3px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .search-container {
        padding: 0 12px;
        height: 49.9px;
        border-bottom: 1px solid $search-container-bottom-color;
        display: flex;
        align-items: center;
        box-shadow: none;
        transition: box-shadow .18s ease-out, background-color .25s ease-out;
        margin: auto;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;

        .input-container {
            position: relative;
            width: 100%;

            input {
                width: 100%;
                height: 35px;
                background-color: $bg-header;
                border-radius: 8px;
                padding-right: 32px;
                padding-left: 65px;
                font-size: 15px;
                line-height: 2px;
                white-space: nowrap;
                color: $sidebar-input-color;

                &::placeholder {
                    font-size: 14px;
                    position: relative;
                    bottom: 1px;
                }

                &:placeholder-shown {
                    text-overflow: ellipsis;
                }
            }

            .search-button {
                position: absolute;
                top: 5px;
                left: 12px;
                fill: $search-icon-color;
                opacity: 1;
                transition: all .24s cubic-bezier(.4, 0, .2, 1);
                transform: rotate(0);
                cursor: pointer;
            }

            .arrow-search-button {
                position: absolute;
                top: 5px;
                left: 12px;
                fill: $arrow-search-icon-color;
                transition: all .3s cubic-bezier(.4, 0, .2, 1);
                transform: scale(0) rotate(225deg);
                opacity: 0;
                cursor: pointer;
            }

            .search-close-icon {
                position: absolute;
                right: 7px;
                top: 5px;
                fill: $filter-close-icons-color;
                cursor: pointer;
            }
        }

        &.active {
            box-shadow: $bx-search;

            .input-container {
                .search-button {
                    opacity: 0;
                    transform: rotate(125deg);
                }

                .arrow-search-button {
                    opacity: 1;
                    transform: scale(1) rotate(1turn);
                }
            }
        }
    }

    .contacts-list {
        overflow-y: scroll;
        flex-grow: 1;

        .heading {
            padding: 22px 32px;

            h1 {
                text-transform: uppercase;
                font-size: 16px;
                color: $newchat-chatlist-heading-color;
                font-weight: 400;
                white-space: nowrap;
            }
        }

        .contact-box {
            height: 72px;
            width: 100%;
            background-color: $bg-sidebar;
            display: flex;
            cursor: pointer;
            overflow-x: hidden;
            min-width: 0;
            transition-duration: 0.4s;
            transition-property: color, background-color;

            .image {
                padding: 0 15px 0 13px;
                display: flex;
                align-items: center;

                img {
                    border-radius: 50%;
                    height: 49px;
                    width: 49px;
                }

                .loading{
                    animation: $skleton-animation;
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                border-top: $border-chatbox;
                padding-right: 21px;
                min-width: 0;

                .row {
                    display: flex;
                    min-width: 0;

                    h3 {
                        font-size: 17px;
                        flex-grow: 1;
                        font-weight: 400;
                        color: $chatbox-title-color;
                        white-space: nowrap;
                    }
                }
            }

            &:hover {
                background-color: $bg-chatbox-hover;

                .content .bottom-row .icons {
                    .arrow-down-icon {
                        display: block;
                    }
                }
            }
        }

        .notfound {
            padding: 50px;
            text-align: center;

            span {
                font-size: 14px
            }
        }

        &::-webkit-scrollbar {
            width: 6px !important;
            height: 6px !important;
        }

        &::-webkit-scrollbar-track {
            background-color: $scroll-chatlist-track;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $scroll-chatlist-thumb;
        }
    }

    &.active {
        width: 100%;
    }
}