@import 'src/styles/breakpoints';
@import 'src/styles/theme';

.app-container {
    background-color: $bg-deep-layer;
    height: 100%;
    overflow-x: auto !important;

    @media (min-width: $large-desktop-display) {
        &::after {
            content: ('');
            position: fixed;
            width: 100%;
            height: 7.96rem;
            top: 0;
            left: 0;
            right: 0;
            background: $bg-stripe;
            z-index: 1;
        }
    }

    &::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }

    &::-webkit-scrollbar-track {
        background-color: $scroll-screen-track;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scroll-screen-thumb;
    }
}