@import 'src/styles/theme';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: none;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: 'Segoe UI', Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    &::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }

    &::-webkit-scrollbar-track {
        background-color: $scroll-track;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scroll-thumb;
    }
}